#editor {
    flex-grow: 1;

    overflow: hidden;

    padding-bottom: var(--cell-h);

    display: flex;
}

#lualine {
    background-color: purple;

    height: var(--cell-h);
}

textarea {
    position: absolute;
    bottom: 0;
    left: 0;

    background: none;
    background-color: orange;
    border: none;
    outline: none;
    padding: 0;
    pointer-events: none;
    resize: none;

    font-family: inherit;
    font-size: inherit;

    width: 100%;
    height: var(--cell-h);

    /* Firefox */
    scrollbar-width: none;
    overflow: hidden;
}

textarea::-webkit-scrollbar {
    display: none;
}

.buffer {
    background-color: brown;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.viewport {
    background-color: cyan;

    flex-grow: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.handle {
    background-color: yellow;
    min-width: 1ch;
}

.bar {
    background-color: pink;

    height: var(--cell-h);
}
