#profile-picture {
    width: 50ch;
    height: calc(25 * var(--cell-h));
}

@media only screen and (max-width: 950px) {
    /* TODO FINAL TEST ALL */

    body {
        font-size: 20px;
        --cell-h: 1.3em;
        line-height: var(--cell-h);
    }

    #profile-picture {
        width: 32ch;
        height: calc(16 * var(--cell-h));
    }

    textarea {
        pointer-events: auto;
    }
}
