#profile-picture {
    width: 50ch;
    height: calc(25 * var(--cell-h));
}

@media only screen and (max-width: 767px) {
    /* TODO FINAL TEST */
    textarea {
        pointer-events: auto;
    }
}
