/* TODO FINAL make scrollbar fit it with neovim's style (make it look like a ruler) */
:root {
    /* TODO change this value based on how many terminal cells could fit here */
    --font-size: 20px;

    --height-line: 1.25em;
    --height-cell: 1.5em;
}

body {
    font-family: "JetBrains Mono";
    font-size: var(--font-size);

    margin: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

img {
    width: 50ch;
    height: 27em;
}

h1, h2 {
    margin: 0;
    font-size: var(--size-font);
}

a {
    font-style: italic;
}

a::after {
    content: " ";
}

input {
    font-family: inherit;
    font-size: inherit;

    pointer-events: none;
}

input:focus {
    outline: none;
}

#editor,
.lualine-left,
.lualine-right {
    display: flex;
}

.buffer,
.content{
    flex-grow: 1;
}

.buffer {
    display: flex;
    flex-direction: column;

    min-width: 1ch;
}

.viewport {
    display: flex;
    flex-grow: 1;
}

.line-numbers {
    min-width: 5ch;
    max-width: 5ch;
    height: 100%;

    text-align: right;
    padding-right: 1ch;

    user-select: none;
}

.content {
    white-space: pre-wrap; /* TODO CHECK */
}

.bar {
    line-height: var(--height-line);
    height: var(--height-cell);

    align-content: center;
    align-items: center;
}

.lualine {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    position: relative;

    user-select: none;
}

.lualine-left,
.lualine-right {
    display: flex;

    white-space: nowrap;
}

.lualine-left {
    flex-shrink: 0;

    position: absolute;
    left: 0;
}

.lualine-right {
    position: absolute;
    right: 0;
}

.lualine-a {
    display: flex;

    z-index: 2;
}

.lualine-z {
    display: flex;

    z-index: 1;
}

.component {
    padding: 0 1ch;
}

.position {
    padding: 0 2ch;
}

.bold {
    font-weight: bold;
}

#editor {
    flex-grow: 1;
}

#handle {
    background-color: lightgray;

    cursor: col-resize;
    height: 100%; /* TODO NOW */
    width: 1ch;

    position: relative;
}

#handle-line {
    background-color: purple;

    position: absolute;
    top: 0;
    left: 0;

    width: 2px;
    height: 100%;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
    font-style: italic;
}
