h1, h2 {
    margin: 0;

    font-size: 1em;
    font-weight: bold;
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

small {
    color: var(--muted-color);

    font-size: 1em;
}

a {
    color: var(--link-color);

    font-style: italic;
}

a::after {
    content: " ";
}

.special {
    color: var(--special-link-color);
}

.special::after {
    content: " ";
}

code {
    color: var(--code-color);

    font-family: inherit;
    font-size: inherit;
    font-style: normal;
}
