:root {
    --cell-h: 1.3em;
    --root-w: 100vw;
    --root-h: 100vh;

    --line-number-display: block;

    font-family: "JetBrains Mono";
    font-size: 1em;

    color: var(--text-color);

    height: var(--cell-h);
    line-height: var(--cell-h);
}

body {
    background-color: var(--bg-color);

    margin: 0;

    display: flex;
    flex-direction: column;
}

#root {
    width: var(--root-w);
    height: var(--root-h);

    display: flex;
    flex-direction: column;

    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
    font-style: italic;
}
