/* TODO FINAL make scrollbar fit it with neovim's style (make it look like a ruler) */
:root {
    /* TODO change this value based on how many terminal cells could fit here */
    --font-size: 20px;

    --height-line: 1.25em;
    --height-cell: 1.5em;

    --color-line-numbers: gray;
    --color-completion-selected: gray;
    --color-completion-text: black;

    --display-line-numbers: block;
}

body {
    font-family: "JetBrains Mono";
    font-size: var(--font-size);

    margin: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
    line-height: var(--height-line);
}

img {
    width: 50ch;
    height: calc(20 * var(--height-cell));
}

h1, h2 {
    margin: 0;
    font-size: var(--size-font);
}

a {
    font-style: italic;
}

a::after {
    content: " ";
}

#aplusplus::after {
    content: " ";
}

input {
    background-color: black;

    font-family: inherit;
    font-size: inherit;

    pointer-events: none;
}

input:focus {
    outline: none;
}

.deemph {
    display: inline;
}

.buffer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 1ch;
    min-height: 0; /* TODO CONSIDER */

    z-index: 3;
}

.viewport {
    flex-grow: 1;
    overflow-y: auto;

    min-height: 0; /* TODO CONSIDER */
}

.content {
    /* TODO CONSIDER */
    display: flex;
    flex-direction: column;

    /* Line numbers */
    counter-reset: line;
    position: relative;
    padding-left: 5ch;
}

.content > * {
    position: relative;

    min-height: var(--height-cell);
    line-height: var(--height-line);
}

.content > *::before {
    display: var(--display-line-numbers);

    color: var(--color-line-numbers);

    position: absolute;
    top: 0;
    left: -6ch;

    counter-increment: line;
    content: counter(line);

    text-align: right;

    /* TODO */
    min-width: 4ch;
    max-width: 4ch;

    margin-left: 1ch;
}

.bar {
    min-height: var(--height-cell);
    max-height: var(--height-cell);

    align-content: center;
    /* TODO align-items: center; */
}

.lualine {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    position: relative;

    user-select: none;
}

.lualine-left,
.lualine-right {
    display: flex;
    align-items: center;

    height: var(--height-cell);

    white-space: nowrap;
}

.lualine-left > *,
.lualine-right > * {
    align-items: stretch;

    height: var(--height-cell);
}

.lualine-left {
    flex-shrink: 0;

    position: absolute;
    left: 0;
}

.lualine-right {
    position: absolute;
    right: 0;
}

.lualine-a {
    display: flex;

    z-index: 2;
}

.lualine-z {
    display: flex;

    z-index: 1;
}

.component {
    padding: 0 1ch;

    align-content: center;
}

.separator {
    font-size: var(--height-line);
    align-content: center;
}

.position {
    padding: 0 2ch;
}

.bold {
    font-weight: bold;
}

/* TODO NOTE changing flex-grow to a fixed height makes it look like we solved it but we need it still.
 * we need to constrain its parent, aka body, but it already is. TODO NOTE */
#editor {
    display: flex;
    flex-grow: 1;
}

#handle {
    background-color: lightgray;

    cursor: col-resize;
    height: 100%; /* TODO NOW */
    width: 1ch;

    position: relative;

    z-index: 3;
}

#handle-line {
    background-color: black;

    position: absolute;
    top: 0;
    left: 0;

    width: 2px;
    height: 100%;
}

#completion {
    background-color: white;

    display: none;

    position: absolute;
    bottom: var(--height-cell);
    left: 0; 
    
    width: 10ch;
    height: var(--height-cell);

    z-index: 4;
}

#completion > * {
    padding-left: 1ch;

    align-content: center;

    height: var(--height-cell);
    line-height: var(--height-line);
}

#completion #selected {
    background-color: var(--color-completion-selected);
    color: var(--color-completion-selected-text);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("assets/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
    font-style: italic;
}
